<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <visualizer>
        <backgroundColors>0xFFD5D8DC,0xFFACB5C6</backgroundColors>

        <floorColor>0xFFA19E9B</floorColor>

        <capture>
            <quality>90</quality>
        </capture>

        <windowWidth>1280</windowWidth>

        <windowHeight>768</windowHeight>

        <suit01>
            <classMargin>20</classMargin>
            <classThickness>20</classThickness>
            <classFillColor>0x00FFFFFF</classFillColor>
            <classLineColor>0xFF000000</classLineColor>

            <methodThickness>8</methodThickness>
            <methodMargin>6</methodMargin>
            <methodLineIncrement>2</methodLineIncrement>
        </suit01>

    </visualizer>
</configuration>